/* Basic reset to remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://source.unsplash.com/1600x900/?weather"); /* Background image */
  background-size: cover;
  background-position: center;
}

/* Weather app container */
.weather-app {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  max-width: 350px;
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Header styling */
header {
  margin-bottom: 20px;
}

/* Search input and button styling */
.search-input {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  width: 70%;
  font-size: 16px;
}

.search-button {
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Weather details styling */
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-city {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.current-details {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.current-temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  font-weight: bold;
  margin: 20px 0;
}

.current-temperature-icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.current-temperature-value {
  font-size: 52px;
}

.current-temperature-unit {
  font-size: 24px;
}

/* Footer styling */
footer {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(39, 33, 66, 0.7);
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
